<h1>POS Register</h1>

<h2>New Order</h2>
<h3>Click on a returning customer or add new one:</h3>

<ul>
<% @customers.each do |customer| %>
  <li><a href="/customers/<%= customer.id() %>"><button class="btn btn-default btn-lg"><%= customer.name() %></button></a></li>
<% end %>
</ul>

<h3>Add Customer</h3>
<form action="/customers/new" method="post">
  <label for="name">Customer Name</label>
  <input type="text" name="name" id="name">

  <button class="btn btn-primary" name="submit">Add Customer</button>
</form>


<h2>Manager</h2>
<a href="/products"><button class="btn btn-default">View Inventory</button></a>
<a href="/purchase_history"><button class="btn btn-default">View Purchase History</button></a>
