<h1>Antique Shop Register</h1>

<h2>Process an Order</h2>
<h3>Click on returning customer or add new one:</h3>

<ul>
  <% @customers.each do |customer| %>
    <li><a href="/customers/<%= customer.id() %>"><%= customer.name() %></a></li>
  <% end %>
</ul>

<h4>Add Customer</h4>
<form action="/customers/new" method="post">
  <label for="name">Customer Name</label>
  <input type="text" name="name" id="name">

  <button class="btn" name="submit">Add Customer</button>
</form>


<h2>Manager</h2>
<button class="btn"><a href="/products">View Inventory</a></button>
<button class="btn"><a href="/purchase_history">View Purchase History</a></button>
