<h1>POS Register</h1>

<h2>New Order</h2>
<h3>Click on returning customer or add new one:</h3>

<ul>
<% @customers.each do |customer| %>
  <li><h4><a href="/customers/<%= customer.id() %>"><%= customer.name() %></a></h4></li>
<% end %>
</ul>

<h3>Add Customer</h3>
<form action="/customers/new" method="post">
  <label for="name">Customer Name</label>
  <input type="text" name="name" id="name">

  <button class="btn" name="submit">Add Customer</button>
</form>


<h2>Manager</h2>
<a href="/products"><button class="btn">View Inventory</button></a>
<a href="/purchase_history"><button class="btn">View Purchase History</button></a>
